.App {
  text-align: center;
  height: 100vh;
}

.titulo_seccion h1 {
  background-color: blue;
  margin: 14px 190px 21px 190px;
  padding: 7px 0 11px 0;
  box-shadow: rgb(88 84 117) 14px 8px 1px 2px;
}

.titulo_seccion button {
  background-color: aqua;
  cursor: pointer;
  margin-left: 15px;
  border: none;
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 20px 7px 10px -3px #bbb8a9, -1px 0px 21px 3px #1b7bcaab;
}

.titulo_seccion input {
  background-color: rgb(184, 190, 124);
  border: none;
  padding: 7px;
  margin-right: 46px;
  border-radius: 2px;
  box-shadow: rgb(88 84 117) 14px 8px 1px 2px;

}


.interfaz {
  background: red;

  margin: 33px 263px 0 263px;
  box-shadow: rgb(33 15 37) 15px 16px 0px 5px;
  border-radius: 12px;

}

.interfaz img {
  background: rgb(181, 223, 191);
  border-radius: 15px;
  border: 5px solid white;

}

.interfaz h1 {
  background-color: #bbb8a9;
  margin: 0 130px 0 130px;
  border-radius: 15px;

}